html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:#F2F2F2;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

#container {
    width: 1000px;
    height: 600px;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:600px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    width:200px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    background-image:url('col2.png');
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    right:0;
    background-image:url('/pumpn/mag/images/col1.png');
    background-position:center left;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width:600px;
    left:200px;
    background-color:#f7f7f7;
    color:#ccc;
	box-shadow: inset 0px 0px 50px 0px #ababab;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:50px;
    font-size:1.7em;
    font-weight:bold;
    color:#23A4FF;
}

#about {
    position:absolute;
    font-size:1.7em;
    font-weight:bold;
    color:#292929;
}

#help {
    position:absolute;
    font-size:1.7em;
    font-weight:bold;
    color:#292929;
}

#infovis {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

#infovis-canvaswidget {
	left: -20%;
	top: -80%;
}

.node {
	color: #111;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 4px 7px;
}

.bootbox-body {
	text-align: left;
}

.bootbox-body h3, h1 {
	text-align: center;
}

#zeitraum {
	height: 80%;
    margin: 0 auto 30px;
    position: absolute;
    top: 40px;
    left: 20px;
	z-index: 1;
}
#jahr1 {
	display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 10px;
	left: 10px;
	font-size: 17px;
}
#jahr2 {
	display: block;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 10px;
	left: 52px;
	font-size: 17px;
}

.noUi-value-vertical {
    color: #292929;
	font-size: 16px;
}
.c {
	min-width: 660px;
	margin: 0 auto;
}

.t {
	padding: 25px 0;
	font-size: 25px;
	text-transform: uppercase;
	&--sm {
		padding: 0;
		font-size: 14px;
	}
}
.nav {
	margin: 25px auto;
	a {
		padding: 0 10px;
	}
}

.nav .twiceBorder, .underline, .overline {
		line-height: 30px;
		height: 30px;
}

.b {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  color: #191919;
  text-decoration: none;
  background: #ebebeb;
}

.twiceBorder ul { padding:0;margin:0; }
.twiceBorder li { display: inline-block; }

.twiceBorder a, .twiceBorder p {
	position:absolute;
    font-size:1.7em;
    font-weight:bold;
    color:#292929;
}

.twiceBorder a:hover {
	color: #292929;
	text-decoration: none;
}

.twiceBorder a:focus {
	color: #292929;
	text-decoration: none;
}

.loading {
	position:absolute;
	left:50%;
	top:30vh;
	margin-left:-20vh;
	display:block;
	width:40vh;
	height:40vh;
	text-align:center;
	filter:contrast(1.2);
}
	circle {
		mix-blend-mode:screen;
		display:block;
		position:absolute;
		border-radius:50%;
		animation:wave 3s infinite linear;
	}
	
	circle:nth-child(0) {
		left:-11%;
		right:-2%;
		top:-12%;
		bottom:-5%;
		transform-origin:46% 53%;
		animation-delay:0;
		background-color:hsl(0, 100%, 50%);
	}
	
	circle:nth-child(1) {
		left:-4%;
		right:-4%;
		top:-9%;
		bottom:-2%;
		transform-origin:47% 50%;
		animation-delay:-1s;
		background-color:hsl(50, 100%, 50%);
	}
	
	circle:nth-child(2) {
		left:-11%;
		right:-4%;
		top:-10%;
		bottom:-11%;
		transform-origin:49% 53%;
		animation-delay:-1.5s;
		background-color:hsl(100, 100%, 50%);
	}
	
	circle:nth-child(3) {
		left:-7%;
		right:-9%;
		top:-11%;
		bottom:-4%;
		transform-origin:47% 52%;
		animation-delay:-2s;
		background-color:hsl(150, 100%, 50%);
	}
	
	circle:nth-child(4) {
		left:-8%;
		right:-3%;
		top:-5%;
		bottom:-11%;
		transform-origin:47% 52%;
		animation-delay:-2.5s;
		background-color:hsl(200, 100%, 50%);
	}
	
	circle:nth-child(5) {
		left:-10%;
		right:-8%;
		top:-4%;
		bottom:-9%;
		transform-origin:48% 51%;
		animation-delay:-3s;
		background-color:hsl(250, 100%, 50%);
	}
	
	circle:nth-child(6) {
		left:-9%;
		right:-11%;
		top:-5%;
		bottom:-8%;
		transform-origin:47% 50%;
		animation-delay:-3.5s;
		background-color:hsl(300, 100%, 50%);
	}

@keyframes wave {
	from {
		transform:rotateZ(0deg);
	}
	to {
		transform:rotateZ(360deg);
	}
}

div#load_screen{
	background: #000;
	opacity: 1;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
}

#loadingtext {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}